<ion-content [fullscreen]="true">

  <div class="cadastro-header">
    <app-back-bttn></app-back-bttn>

    <ion-text>
      <h2>Novo Animal</h2>
    </ion-text>

  </div>

    <form>
    <div class="subtitle">
    <h3>Básico</h3>
    <small>Essas informações são básicas e devem ser preenchidas</small>
    </div>
 
    <ion-list>
 
      <div class="animal nome">
        <ion-item lines="none">
          <ion-input
            label="Nome do Animal"
            labelPlacement="stacked"
            [(ngModel)]="animal.nome"
            name="nome">
          </ion-input>
        </ion-item>
      </div>
 
      <!-- Upload de foto -->
      <div id="photo-container">
        <label class="upload-box">
          <input
            type="file"
            accept="image/*"
            (change)="selecionarFoto($event)"
            hidden>
          <div class="conteudo-upload">
            <p *ngIf="!previewImagem">Escolher foto</p>
            <img
              *ngIf="previewImagem"
              [src]="previewImagem"
              alt="Foto do animal">
          </div>
        </label>
 
        <label class="upload-box">
          <input
            type="file"
            accept="image/*"
            capture="environment"
            (change)="tirarFoto($event)"
            hidden>
          <div class="conteudo-upload">
            <p *ngIf="!previewImagem">Tirar foto</p>
            <img
              *ngIf="previewImagem"
              [src]="previewImagem"
              alt="Foto do animal">
          </div>
        </label>
      </div>
 
      <!-- Tipo -->
      <div class="animal tipo">
        <ion-label>Tipo do Animal</ion-label>
        <ion-radio-group [(ngModel)]="animal.especie" name="especie">
          <div class="radio-container">
            <ion-item lines="none" [class.selected]="animal.especie === 'gato'">
              <ion-radio value="gato">Gato</ion-radio>
            </ion-item>
            <ion-item lines="none" [class.selected]="animal.especie === 'cachorro'">
              <ion-radio value="cachorro">Cachorro</ion-radio>
            </ion-item>
            <ion-item lines="none" [class.selected]="animal.especie === 'coelho'">
              <ion-radio value="coelho">Coelho</ion-radio>
            </ion-item>
            <ion-item lines="none" [class.selected]="animal.especie === 'tartaruga'">
              <ion-radio value="tartaruga">Tartaruga</ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </div>
 
      <!-- Sexo -->
      <div class="animal sexo">
        <ion-label>Sexo</ion-label>
        <ion-radio-group [(ngModel)]="animal.sexo" name="sexo">
          <div class="radio-container">
            <ion-item lines="none" [class.selected]="animal.sexo === 'femea'">
              <ion-radio value="femea">Fêmea</ion-radio>
            </ion-item>
            <ion-item lines="none" [class.selected]="animal.sexo === 'macho'">
              <ion-radio value="macho">Macho</ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </div>
 
      <!-- Faixa etária -->
      <div class="animal idade">
        <ion-label>Faixa Etária</ion-label>
        <ion-radio-group [(ngModel)]="animal.faixaEtaria" name="faixaEtaria">
          <div class="radio-container">
            <ion-item lines="none" [class.selected]="animal.faixaEtaria === 'filhote'">
              <ion-radio value="filhote">Filhote</ion-radio>
            </ion-item>
            <ion-item lines="none" [class.selected]="animal.faixaEtaria === 'adulto'">
              <ion-radio value="adulto">Adulto</ion-radio>
            </ion-item>
            <ion-item lines="none" [class.selected]="animal.faixaEtaria === 'idoso'">
              <ion-radio value="idoso">Idoso</ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </div>
 
      <!-- Castrado -->
      <div class="animal castrado">
        <ion-label>É castrado?</ion-label>
        <ion-radio-group [(ngModel)]="animal.castrado" name="castrado">
          <div class="radio-container">
            <ion-item lines="none" [class.selected]="animal.castrado === true">
              <ion-radio [value]="true">Sim</ion-radio>
            </ion-item>
            <ion-item lines="none" [class.selected]="animal.castrado === false">
              <ion-radio [value]="false">Não</ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </div>
 
    </ion-list>
 
    <!-- Seção Detalhes -->
    <div class="subtitle">
      <h3>Detalhes</h3>
      <small>Essas informações podem ser deixadas em branco</small>
    </div>
 
    <div class="animal detalhes">
      <ion-text>
        Fale um pouco sobre o animal. Seu comportamento,
        peculiaridades, condições médicas, e tudo mais que achar relevante.
      </ion-text>
 
      <div class="animal comportamento">
        <ion-textarea
          label="Comportamento"
          labelPlacement="stacked"
          [(ngModel)]="animal.comportamento"
          name="comportamento"
          [autoGrow]="true">
        </ion-textarea>
      </div>
 
      <div class="animal preferencias">
        <ion-textarea
          label="Ele possui alguma preferência?"
          labelPlacement="stacked"
          [(ngModel)]="animal.preferencias"
          name="preferencias"
          [autoGrow]="true">
        </ion-textarea>
      </div>
 
      <div class="animal condicoes_medicas">
        <ion-text>Esse animal apresenta alguma condição médica?</ion-text>
 
        <ion-radio-group 
          [(ngModel)]="animal.condicaoMedica" 
          name="condicaoMedica" 
          (ionChange)="mudarCondicao($event.detail.value)">
          
          <div class="radio-container">
            <ion-item lines="none" [class.selected]="animal.condicaoMedica === true">
              <ion-radio [value]="true">Sim</ion-radio>
            </ion-item>
            <ion-item lines="none" [class.selected]="animal.condicaoMedica === false">
              <ion-radio [value]="false">Não</ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
 
        <div *ngIf="animalCondicao === true" class="condicao-textarea">
          <ion-textarea
            label="Qual condição médica?"
            labelPlacement="stacked"
            [(ngModel)]="animal.descricaoCondicao"
            name="descricaoCondicao"
            [autoGrow]="true">
          </ion-textarea>
        </div>
 
      </div>
    </div>
 
    <app-yellow-button
      (click)="cadastroAnimal()"
      texto="Cadastrar Animal">
    </app-yellow-button>

    <div class="gap"></div>
 
  </form>

</ion-content>