<ion-content fullscreen="true">

    <div class="about-header">
      <app-back-bttn></app-back-bttn>
      <h2>Sobre Nós</h2>
  </div>

  <ion-text>
    <h3>Adote</h3>
    <p>O Adote é uma plataforma criada para conectar animais resgatados a pessoas 
      interessadas em adoção responsável.</p>
  </ion-text>

  <ion-text>
    <h3>Nosso Objetivo</h3>
    <p>Aqui centralizamos a gestão de adoções e denúncias de maus-tratos. 
      O foco principal é substituir processos manuais por um fluxo digital guiado, garantindo que tanto 
      a segurança do animal quanto a facilidade para o usuário sejam priorizadas através de uma 
      interface intuitiva e funcional.</p>
  </ion-text>

  <ion-text>
    <h3>Contribuintes</h3>
    
    <div class="contribuintes">
      <p>Adriana Marie</p>
      <p>Débora Prates</p>
      <p>Henrique Barros</p>
    </div>

    <p>Este aplicativo é um projeto para o quarto período do curso de Análise e Desenvolvimento de Sistemas 
      do Centro Universitário Augusto Motta (UNISUAM)</p>

      <ul>
        <li>Unidade: CG1</li>
        <li>Turno: Manhã</li>
        <li>Ano: 2026.1</li>
      </ul>
  </ion-text>

  <ion-text>
    <h3>Tecnologias e API's Utilizadas</h3>

    <div class="stack">
      <ion-icon name="logo-ionic"></ion-icon>
      <ion-icon name="logo-angular"></ion-icon>
      <ion-icon name="logo-firebase"></ion-icon>
      <ion-icon name="logo-sass"></ion-icon> 
    </div>

    <ul>
      <li>TypeScript</li>
      <li>@capacitor/camera</li>
      <li>@capacitor/google-maps</li>
    </ul>
    
  </ion-text>
  

</ion-content>
