<ion-content class="foget-content" scrollY="false">

  <div class="forget-wrapper">

    <div class="forget-topo">
      <h1 class="titulo">Esqueceu a senha?</h1>
      <p class="titulo2">Tudo bem, você pode trocá-la com seu e-mail</p>
    </div>

    <div class="forget-container">

          <h2>Redefinir Senha</h2>

          <ion-list class="form-list">

            <ion-item 
            lines="none">

              <ion-input 
              placeholder="E-mail"
              class="campo"
              type="email"
              ></ion-input>

            </ion-item>

          </ion-list>

          <div class="buttons">
            <ion-button expand="block" routerLink="/codigo">Enviar Código</ion-button>

          </div>
        
      </div>
  </div>
  

</ion-content>