<ion-content class="ion-padding" scrollY="false">

  <div class="cdg-wrapper">

    <h1 class="titulo">Esqueceu a senha?</h1>
    <p class="titulo2">Tudo bem, você pode trocá-la com seu e-mail</p>

    <div class="container">
          <h2>Redefinir Senha</h2>

          <ion-list>
            <ion-item lines="none">
              <ion-input labelPlacement="floating">
                <div slot="label">E-mail</div>
              </ion-input>
            </ion-item>
          </ion-list>

          <div class="buttons">
            <ion-button expand="block" routerLink="/codigo">Enviar Código</ion-button>

          </div>
        
      </div>
  </div>
  

</ion-content>