<ion-content class="ion-padding">

    <h1 class="titulo">Bem-vindo(a) ao pet-adoption-app</h1>

        <ion-img
        src="/assets/img/adote-welcome-page.svg"
        ></ion-img>

        <div class="buttons">
            <ion-button id="su-bttn" expand="block" routerLink="/cadastro">
                CRIAR UMA CONTA
            </ion-button>

            <ion-button id="si-bttn" expand="block" routerLink="/login">
                FAZER LOGIN
            </ion-button>
        </div>
        
</ion-content>