<ion-content class="cadastro-content" scrollY="false">

  <div class="cadastro-wrapper">


    <div class="full-content">

    </div>

    <div class="cadastro-topo">
      <h1 class="titulo">Olá<span>,</span></h1>
      <p class="titulo2">Aqui sua contribuição<br>faz a diferença</p>
    </div>

    <form class="cadastro-card" (ngSubmit)="onSubmit()">
      <h2>Cadastrar</h2>

      <ion-item lines="none">
        <ion-input
          class="campo"
          placeholder="Nome Completo"
          autocomplete="name"
          formControlName="nomeCompleto"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          class="campo"
          placeholder="E-mail"
          type="email"
          autocomplete="email"
          formControlName="email"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          class="campo"
          placeholder="Senha"
          type="password"
          formControlName="senha"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          class="campo"
          placeholder="CPF"
          inputmode="numeric"
          formControlName="cpf"
        ></ion-input>
      </ion-item>

      <div class="row">   
        <ion-item lines="none">
          <ion-input
            class="campo"
            placeholder="Estado"
          formControlName="estado"
          ></ion-input>      
        </ion-item>
      
        <ion-item lines="none">
          <ion-input
            class="campo"
            placeholder="Cidade"
          formControlName="cidade"
          ></ion-input>   
        </ion-item>
      </div> 



      <div class="buttons">

        <ion-button type="submit" class="btn-cadastro" expand="block">
          Fazer Cadastro
        </ion-button>

        <ion-button class="btn-login" expand="block" routerLink="/login">
          Já tenho conta
        </ion-button>

      </div>


    </form>
  </div>



</ion-content>