<ion-content class="cadastro-content" scrollY="false">

  <div class="cadastro-wrapper">

    <div class="full-content"></div>

    <div class="cadastro-topo">
      <h1 class="titulo">Olá<span>,</span></h1>
      <p class="titulo2">Aqui sua contribuição<br>faz a diferença</p>
    </div>

    
    <form class="cadastro-card" (ngSubmit)="testeCadastro()">
      <h2>Cadastrar</h2>

      <ion-item lines="none">
        <ion-input
          class="campo"
          placeholder="Nome Completo"
          autocomplete="name"
          name="nome"
          [(ngModel)]="usuario.nome"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          class="campo"
          placeholder="E-mail"
          type="email"
          autocomplete="email"
          name="email"
          [(ngModel)]="usuario.email"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          class="campo"
          name="nome"
          placeholder="Senha"
          type="password"
          name="senha"
          [(ngModel)]="usuario.senha"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          class="campo"
          name="cpf"
          placeholder="CPF"
          inputmode="numeric"
          name="cpf"
          [(ngModel)]="usuario.cpf"
          required
        ></ion-input>
      </ion-item>

      <div class="row">   
        <ion-item lines="none">
          <ion-input
            class="campo"
            name="estado"
            placeholder="Estado"
            name="estado"
            [(ngModel)]="usuario.estado"
          ></ion-input>      
        </ion-item>
      
        <ion-item lines="none">
          <ion-input
            class="campo"
            name="cidade"
            placeholder="Cidade"
            name="cidade"
            [(ngModel)]="usuario.cidade"
          ></ion-input>   
        </ion-item>
      </div> 

      <div class="buttons">
        
        <ion-button type="submit" class="btn-cadastro" expand="block">
          Fazer Cadastro
        </ion-button>

        <ion-button class="btn-login" expand="block" routerLink="/login">
          Já tenho conta
        </ion-button>
      </div>

    </form>
  </div>

</ion-content>