<ion-content class="cadastro-content" scrollY="false">

  <div class="cadastro-wrapper">


    <div class="full-content">

    </div>

    <div class="cadastro-topo">
      <h1 class="titulo">Olá<span>,</span></h1>
      <p class="titulo2">Aqui sua contribuição<br>faz a diferença</p>
    </div>

    <div class="cadastro-card">
      <h2>Cadastrar</h2>

      <ion-item lines="none">
        <ion-input
          class="campo"
          labelPlacement="floating"
          label="Nome Completo"
          autocomplete="name"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          class="campo"
          labelPlacement="floating"
          label="E-mail"
          type="email"
          autocomplete="email"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          class="campo"
          labelPlacement="floating"
          label="Senha"
          type="password"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          class="campo"
          labelPlacement="floating"
          label="CPF"
          inputmode="numeric"
        ></ion-input>
      </ion-item>

      <div class="row">   
        <ion-item lines="none">
          <ion-input
            class="campo"
            labelPlacement="floating"
            label="Estado"
          ></ion-input>      
        </ion-item>
      
        <ion-item lines="none">
          <ion-input
            class="campo"
            labelPlacement="floating"
            label="Cidade"
          ></ion-input>   
        </ion-item>
      </div> 



      <div class="buttons">

        <ion-button 
        class="btn-cadastro" 
        expand="block" 
        routerLink="/home">
          Fazer Cadastro
        </ion-button>

        <ion-button 
        class="btn-login" 
        expand="block" 
        routerLink="/login">
          Já tenho conta
        </ion-button>
      </div>

    </div>
  </div>



</ion-content>