ion-content {
    --background: #fff;
    --padding-bottom: 80px; 
}

.pet-header {
    position: relative;
}

app-back-bttn {
    position: absolute;
    z-index: 10;
}

#pet-photo {
    width: 100%;
    display: block;
}

.pet-info {
    margin-left: 0.5rem;
    color: #000;
    display: flex;
}

.pet-info h3 {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'League Spartan', sans-serif; 
}

.pet-info p {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-weight: 500;
    align-content: center;
    margin-left: 0.8rem;
    color: var(--yellow);
    background-color: #ffc40026;
    padding: 0.4rem;
    border-radius: 1rem;
}

.pet-extra-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pet-extra-info ion-card {
    background-color: #fff;
    width: 30%;
    margin-inline: 0.2rem;
    font-family: 'League Spartan', sans-serif; 
    box-shadow: none;
    border: 1px solid #bbbbbb;
    border-radius: 0.5rem;
    text-align: center;
}

.pet-extra-info .card-subtitle {
    display: block;
    color: #767676;
    font-size: 0.80rem;
    font-family: 'League Spartan', sans-serif; 
}

.pet-extra-info .card-title {
    display: block;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'League Spartan', sans-serif; 
    margin-top: 0.25rem;
}

.pet-detalhes ion-card {
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #bbbbbb;
    border-radius: 0.5rem;
    font-family: 'League Spartan', sans-serif; 
    color: #434343;
}

.pet-detalhes .card-title {
    display: block;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'League Spartan', sans-serif; 
}

.btn-wrapper {
    padding: 0 1rem 1rem;
}