.settings-header {
    background-color: #ffffff;
    padding-block: 1.2rem;
}

.settings-header h2 {
    font-family: 'League Spartan', sans-serif;
    justify-self: center;
    font-weight: 700;
    font-size: 1.6rem;
}