// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
    --bg-color: #0F4C5C;
    --yellow: #FFC300;
    --light-blue: #AFEEFF;
    --orange: #E36414;
    --purple: #5F0F40;
    --deep-red: #9A031E;


    --button-radius: 0.5rem;
    --button-height: 2.7rem;
    --button-text: 1rem;
    --input-color: #E4E4E4;
}